.menu-bars {
  margin-left: 1rem;
  margin-top: 6px;
  font-size: 1.8rem;
  background: none;
}

.nav-menu {
  background-color: #1a2b3c;
  width: 250px;
  height: 100vh;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  left: -100%;
  transition: 850ms;
  z-index: 83;
}

.nav-menu.active {
  left: 0;
  transition: 350ms;
}

.nav-text {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  list-style: none;
  height: 60px;
}

.nav-text a {
  text-decoration: none;
  color: #f5f5f5;
  font-size: 18px;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  padding-left: 38px;
}

.nav-text a:hover {
  background-color: #0a3d62;
}

.nav-menu-items {
  width: 100%;
}

.Menu-span {
  margin-left: 16px;
}

.navbar-toggle {
  background-color: #1a2b3c;
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.Link .span {
  margin-left: 16px;
}

.overlay {
  z-index: 100;
}
